[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrs = "==21.2.0"
bleach = "==3.3.0"
certifi = "==2021.5.30"
chardet = "==4.0.0"
click = "==8.0.1"
click-plugins = "==1.1.1"
cligj = "==0.7.2"
coverage = "==5.5"
docutils = "==0.17.1"
future = "==0.18.2"
hypothesis = "==6.14.0"
idna = "==2.10"
iniconfig = "==1.1.1"
mapbox-vector-tile = "==1.2.1"
mercantile = "==1.2.1"
munch = "==2.5.0"
numpy = "==1.21.0"
pkginfo = "==1.7.0"
pluggy = "==0.13.1"
protobuf = "==3.17.3"
psutil = "==5.8.0"
py = "==1.10.0"
pyclipper = "==1.2.1"
pyparsing = "==2.4.7"
requests = "==2.25.1"
requests-toolbelt = "==0.9.1"
six = "==1.16.0"
sortedcontainers = "==2.4.0"
tqdm = "==4.61.1"
twine = "==1.13.0"
urllib3 = "==1.26.5"
vt2geojson = "==0.2.1"
webencodings = "==0.5.1"
Pygments = "==2.9.0"
haversine = "==2.3.1"
python-dotenv = "==0.19.0"
shapely = "==1.7.1"
turfpy = "==0.0.7"
geojson = "==2.5.0"
pip = "==21.2.4"
wheel = "==0.37.0"
build = "==0.6.0.post1"

[dev-packages]
pytest = "==6.2.4"
pytest-arraydiff = "==0.3"
pytest-astropy = "==0.8.0"
pytest-astropy-header = "==0.1.2"
pytest-cov = "==2.12.1"
pytest-doctestplus = "==0.9.0"
pytest-filter-subpackage = "==0.1.1"
pytest-openfiles = "==0.5.0"
pytest-remotedata = "==0.3.2"
readme-renderer = "==29.0"
appdirs = "==1.4.4"
black = "==21.6b0"
flake8 = "==3.9.2"
mccabe = "==0.6.1"
mypy-extensions = "==0.4.3"
pathspec = "==0.8.1"
pycodestyle = "==2.7.0"
pyflakes = "==2.3.1"
regex = "==2021.4.4"
toml = "==0.10.2"
twine = "*"
check-manifest = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
