[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mapbox-vector-tile = ">=2.1.0"
mercantile = ">=1.2.1"
requests = ">=2.25.1"
vt2geojson = ">=0.2.1"
haversine = ">=2.3.1"
shapely = ">=2.1.0"
turfpy = ">=0.0.7"
geojson = ">=2.5.0"

[dev-packages]
haversine = ">=2.3.1"
mercantile = ">=1.2.1"
vt2geojson = ">=0.2.1"
wheel = ">=0.37.0"
build = ">=0.6.0.post1"
pytest = ">=6.2.4"
readme-renderer = ">=29.0"
black = ">=21.6b0"
flake8 = ">=3.9.2"
twine = ">=1.13.0"
sphinx = ">=5.1.1"
sphinx-autodoc-typehints = ">=1.12.0"
pandas = "*"

[pipenv]
allow_prereleases = true
